<div>
        
        
            <div id="4766f780-8218-4eaa-aa9c-ad11859ffa4f" class="plotly-graph-div" style="height:500px; width:500px;"></div>
            <script type="text/javascript">
                
                    window.PLOTLYENV=window.PLOTLYENV || {};
                    
                if (document.getElementById("4766f780-8218-4eaa-aa9c-ad11859ffa4f")) {
                    Plotly.newPlot(
                        '4766f780-8218-4eaa-aa9c-ad11859ffa4f',
                        [{"marker": {"size": 10}, "mode": "markers", "type": "scatter", "x": [9, 5, 6, 5, 6, 7, 6, 6, 6, 10, 8, 4, 5, 5, 5, 7, 7, 9, 8, 8, 1, 6, 8, 9, 7, 7, 4, 5, 5, 7, 5, 8, 7], "y": [0.4444444444444444, 0.4, null, 0.4, 0.5, 0.8571428571428571, 0.3333333333333333, 0.3333333333333333, 0.3333333333333333, 0.5, 0.375, 1.0, 1.0, 0.4, 0.2, 0.2857142857142857, 0.7142857142857143, 0.5555555555555556, 0.875, 0.75, 1.0, 0.3333333333333333, 0.25, 0.2222222222222222, 1.0, 0.7142857142857143, 0.5, 0.4, 0.4, 0.7142857142857143, 0.4, 0.125, 0.5714285714285714]}],
                        {"template": {"layout": {"colorway": ["#2f4858", "#456990", "#f45b69"], "height": 500, "paper_bgcolor": "#fff", "plot_bgcolor": "#fff", "showlegend": false, "width": 500, "xaxis": {"color": "#7f7979", "tickfont": {"family": "Arial", "size": 10}, "ticks": "inside", "title": {"font": {"family": "Arial", "size": 12}, "standoff": 5}}, "yaxis": {"color": "#7f7979", "tickfont": {"family": "Arial", "size": 10}, "ticks": "inside", "title": {"font": {"family": "Arial", "size": 12}, "standoff": 5}}}}, "xaxis": {"dtick": 10, "rangemode": "tozero", "tick0": 0, "title": {"text": "Number of goals set"}}, "yaxis": {"fixedrange": true, "range": [0, 1.1], "tickmode": "array", "ticktext": ["0%", "100%"], "tickvals": [0, 1], "title": {"text": "Percentage of goals completed"}}},
                        {"responsive": true}
                    )
                };
                
            </script>
        </div>