<div>
        
                <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    
            <div id="97aef15e-f43e-442a-abc5-aa5c82f7fae7" class="plotly-graph-div" style="height:300px; width:100%;"></div>
            <script type="text/javascript">
                
                    window.PLOTLYENV=window.PLOTLYENV || {};
                    
                if (document.getElementById("97aef15e-f43e-442a-abc5-aa5c82f7fae7")) {
                    Plotly.newPlot(
                        '97aef15e-f43e-442a-abc5-aa5c82f7fae7',
                        [{"marker": {"size": 10}, "mode": "markers", "type": "scatter", "x": [9, 5, 6, 5, 6, 7, 6, 6, 6, 10, 8, 4, 5, 5, 5, 7, 7, 9, 8, 8, 1, 6, 8, 9, 7, 7, 4, 5, 5, 7, 5, 8, 7], "y": [0.4444444444444444, 0.4, null, 0.4, 0.5, 0.8571428571428571, 0.3333333333333333, 0.3333333333333333, 0.3333333333333333, 0.5, 0.375, 1.0, 1.0, 0.4, 0.2, 0.2857142857142857, 0.7142857142857143, 0.5555555555555556, 0.875, 0.75, 1.0, 0.3333333333333333, 0.25, 0.2222222222222222, 1.0, 0.7142857142857143, 0.5, 0.4, 0.4, 0.7142857142857143, 0.4, 0.125, 0.5714285714285714]}],
                        {"template": {"layout": {"colorway": ["#2f4858", "#456990", "#75b3be", "#bac8b8", "#d1b395", "#dfd0b3", "#a2c2dd", "#66505d"], "height": 300, "margin": {"b": 20, "l": 40, "t": 20}, "paper_bgcolor": "#fff", "plot_bgcolor": "#fff", "showlegend": false, "xaxis": {"color": "#7f7979", "fixedrange": true, "tickfont": {"family": "Arial", "size": 10}, "tickformat": "%b", "ticks": "inside", "title": {"font": {"family": "Arial", "size": 12}, "standoff": 5}}, "yaxis": {"color": "#7f7979", "fixedrange": true, "tickfont": {"family": "Arial", "size": 10}, "ticks": "inside", "title": {"font": {"family": "Arial", "size": 12}, "standoff": 5}}}}, "xaxis": {"dtick": 10, "rangemode": "tozero", "tick0": 0, "tickformat": "d", "title": {"text": "Number of goals set"}}, "yaxis": {"fixedrange": true, "range": [0, 1.1], "tickmode": "array", "ticktext": ["0%", "100%"], "tickvals": [0, 1], "title": {"text": "Percentage of goals completed"}}},
                        {"responsive": true, "autosizable": true, "fillFrame": false, "displayModeBar": "hover", "displaylogo": false, "modeBarButtonsToRemove": ["hoverClosestCartesian", "hoverCompareCartesian", "toImage"]}
                    )
                };
                
            </script>
        </div>